## Final Project Submission

Please fill out:
* Student name: Lucas Wilkerson
* Student pace: Flex/part time
* Scheduled project review date/time: 
* Instructor name: Morgan Jones
* Blog post URL:

# Home Price Analysis

In [ ]:
# Add Graphic

## Project Overview

For this project, I sought to explore how certain housing characteristics influence the price of a home in King county. Specifically, I used linear regression to show how specific housing characteristics impact the price of the home.

## Business Problem and Stakeholder

A real estate company in King County wants to increase customer acquisition and retention by providing transparent and useful information regarding the sales prices of homes. Utilizing this data, they can assist customers/clients that are both looking to buy or sell a home, understand what to budget for with a new home or what to expect to sell their current home for. For the project specifically we will be exploring which housing characteristics are the most important and have the biggest impact on sales price.

## Data Understanding

In [2]:
# Importing standard Packages 
import pandas as pd
import numpy as np
import math 

# Importing packages for visualization 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Importing packages for statistics
import statsmodels.api as sm
from scipy import stats
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

## Data Preparation

In [3]:
#Loading dataset
kc_house_df = pd.read_csv("data/kc_house_data.csv")
kc_house_df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.190520
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.355910
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.225200
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.290200
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.071880
5,2807100156,7/20/2021,625000.0,2,1.0,1190,5688,1.0,NO,NO,...,PUBLIC,1190,0,300,0,1948,0,"1602 North 185th Street, Shoreline, Washington...",47.763470,-122.340155
6,5122400111,11/17/2021,1317227.0,3,3.0,2080,27574,1.0,NO,NO,...,PRIVATE,2080,0,0,150,1951,0,"2633 Southwest 164th Place, Burien, Washington...",47.455470,-122.367220
7,7137850210,4/28/2022,820000.0,3,2.5,2214,3506,2.0,NO,NO,...,PUBLIC,2214,0,440,206,2019,0,"24913 122nd Place Southeast, Kent, Washington ...",47.378355,-122.178625
8,2944500680,3/17/2022,780000.0,4,2.5,2340,8125,2.0,NO,NO,...,PUBLIC,2340,0,440,70,1989,0,"2721 Southwest 343rd Place, Federal Way, Washi...",47.293770,-122.369320
9,2619950340,6/21/2021,975000.0,4,2.5,2980,5859,2.0,NO,NO,...,PUBLIC,2980,0,540,170,2011,0,"27950 Northeast 147th Circle, Duvall, Washingt...",47.733170,-121.965305

In [4]:
kc_house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30155 non-null  int64
 1   date           30155 non-null  object
 2   price          30155 non-null  float64
 3   bedrooms       30155 non-null  int64
 4   bathrooms      30155 non-null  float64
 5   sqft_living    30155 non-null  int64
 6   sqft_lot       30155 non-null  int64
 7   floors         30155 non-null  float64
 8   waterfront     30155 non-null  object
 9   greenbelt      30155 non-null  object
 10  nuisance       30155 non-null  object
 11  view           30155 non-null  object
 12  condition      30155 non-null  object
 13  grade          30155 non-null  object
 14  heat_source    30123 non-null  object
 15  sewer_system   30141 non-null  object
 16  sqft_above     30155 non-null  int64
 17  sqft_basement  30155 non-null  int64
 18  sqft_garage    30155 non-null  int64
 19  sqft_patio     30155 non-null  int64
 20  yr_built       30155 non-null  int64
 21  yr_renovated   30155 non-null  int64
 22  address        30155 non-null  object
 23  lat            30155 non-null  float64
 24  long           30155 non-null  float64
dtypes: float64(5), int64(10), object(10)
memory usage: 5.8+ MB

Above I have read in the file and previewed the head of the dataset along with utilizing .info() to get a general idea of the dataset. We have a total of over 30,000 data points with very low amounts of missing values. With low amounts of missing values, I plan to drop all rows with missing values. It looks like we have 25 columns that have types that include integers, floats, and objects. Looking at the columns and data types it seems we have several numerical values and catergorical values. I may need to transform some variables but that will be determined as I explore more into the data.

In [5]:
#Dropping all rows with null values and dropping duplicate values/rows
kc_house_df.dropna(inplace= True)
kc_house_df = kc_house_df.drop_duplicates()
kc_house_df.drop(["id"], axis = 1, inplace = True)

kc_house_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30110 entries, 0 to 30154
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           30110 non-null  object
 1   price          30110 non-null  float64
 2   bedrooms       30110 non-null  int64
 3   bathrooms      30110 non-null  float64
 4   sqft_living    30110 non-null  int64
 5   sqft_lot       30110 non-null  int64
 6   floors         30110 non-null  float64
 7   waterfront     30110 non-null  object
 8   greenbelt      30110 non-null  object
 9   nuisance       30110 non-null  object
 10  view           30110 non-null  object
 11  condition      30110 non-null  object
 12  grade          30110 non-null  object
 13  heat_source    30110 non-null  object
 14  sewer_system   30110 non-null  object
 15  sqft_above     30110 non-null  int64
 16  sqft_basement  30110 non-null  int64
 17  sqft_garage    30110 non-null  int64
 18  sqft_patio     30110 non-null  int64
 19  yr_built       30110 non-null  int64
 20  yr_renovated   30110 non-null  int64
 21  address        30110 non-null  object
 22  lat            30110 non-null  float64
 23  long           30110 non-null  float64
dtypes: float64(5), int64(9), object(10)
memory usage: 5.7+ MB

Duplicates and null values were dropped along with the id column as this column is not needed. Called .info() to confirm changes. We now have a total of 30,110 entries regarding home sales with 24 columns.

In [6]:
#Inspecting value counts for all variables
for col in kc_house_df:
    print(kc_house_df[col].value_counts(), "\n")

7/1/2021      196
8/2/2021      186
6/23/2021     176
7/6/2021      176
6/16/2021     174
             ...
12/5/2021       1
12/25/2021      1
1/16/2022       1
12/26/2021      1
6/9/2022        1
Name: date, Length: 365, dtype: int64

650000.0     345
750000.0     306
800000.0     298
850000.0     296
600000.0     295
            ...
903888.0       1
576200.0       1
1081500.0      1
2698000.0      1
720902.0       1
Name: price, Length: 5199, dtype: int64

3     12745
4      9591
2      3925
5      2794
6       498
1       381
7        80
0        39
8        38
9        14
10        3
13        1
11        1
Name: bedrooms, dtype: int64

2.5     8471
2.0     7343
1.0     4556
3.0     4116
3.5     2264
1.5     1807
4.0      644
4.5      531
5.0      145
5.5      102
6.0       45
0.0       25
6.5       25
7.5       12
7.0       12
0.5        5
9.5        2
8.0        2
8.5        1
10.0       1
10.5       1
Name: bathrooms, dtype: int64

1250    192
1400    190
1560    183
1900    183
1540    181
       ...
2281      1
2265      1
2105      1
2089      1
2049      1
Name: sqft_living, Length: 1314, dtype: int64

5000     486
6000     402
4000     374
7200     302
7500     181
        ...
17057      1
15022      1
12975      1
10940      1
4098       1
Name: sqft_lot, Length: 12223, dtype: int64

1.0    13943
2.0    12245
1.5     2434
3.0     1221
2.5      222
4.0       30
3.5       15
Name: floors, dtype: int64

NO     29599
YES      511
Name: waterfront, dtype: int64

NO     29338
YES      772
Name: greenbelt, dtype: int64

NO     24861
YES     5249
Name: nuisance, dtype: int64

NONE         26554
AVERAGE       1910
GOOD           877
EXCELLENT      549
FAIR           220
Name: view, dtype: int64

Average      18514
Good          8052
Very Good     3258
Fair           225
Poor            61
Name: condition, dtype: int64

7 Average        11693
8 Good            9400
9 Better          3803
6 Low Average     2852
10 Very Good      1369
11 Excellent       406
5 Fair             385
12 Luxury          122
4 Low               46
13 Mansion          24
3 Poor               9
2 Substandard        1
Name: grade, dtype: int64

Gas                  20575
Electricity           6460
Oil                   2899
Gas/Solar               93
Electricity/Solar       59
Other                   20
Oil/Solar                4
Name: heat_source, dtype: int64

PUBLIC                25766
PRIVATE                4336
PRIVATE RESTRICTED        5
PUBLIC RESTRICTED         3
Name: sewer_system, dtype: int64

1200    282
1300    282
1060    271
1100    268
1250    265
       ...
1783      1
1767      1
7700      1
1495      1
2049      1
Name: sqft_above, Length: 1183, dtype: int64

0       15434
1010      257
1100      224
1060      219
1200      192
        ...
3350        1
1079        1
3110        1
2870        1
3590        1
Name: sqft_basement, Length: 459, dtype: int64

0       9978
440     1397
480     1301
400      941
420      934
        ...
40         1
807        1
1215       1
759        1
775        1
Name: sqft_garage, Length: 411, dtype: int64

0       6746
100      906
80       886
60       858
40       839
        ...
445        1
182        1
509        1
102        1
3550       1
Name: sqft_patio, Length: 526, dtype: int64

2021    1700
1968     514
2020     504
1978     493
1977     484
        ...
1901      39
1934      38
1935      38
1902      36
1933      30
Name: yr_built, Length: 123, dtype: int64

0       28742
2021       69
2006       49
2018       44
1990       42
        ...
1924        1
1972        1
1948        1
1942        1
1966        1
Name: yr_renovated, Length: 82, dtype: int64

Avenue, 108 Foothill Blvd, Rancho Cucamonga, California 91730, United States    38
Delridge Way Southwest, Seattle, Washington 98106, United States                24
9th Ave, Nebraska City, Nebraska 68410, United States                           21
South 35th Avenue, Bellevue, Nebraska 68123, United States                      20
A, Leadwood, Missouri 63653, United States                                      17
                                                                                ..
916 145th Place Southeast, Bellevue, Washington 98007, United States             1
22736 Southeast 266th Street, Maple Valley, Washington 98038, United States      1
3514 Academy Drive Southeast, Auburn, Washington 98092, United States            1
11057 10th Avenue Southwest, Seattle, Washington 98146, United States            1
12720 SE 287th Pl, Auburn, Washington 98092, United States                       1
Name: address, Length: 29519, dtype: int64

34.104373    38
47.543910    24
40.668690    21
47.690850    20
41.111700    20
             ..
47.532185     1
47.435680     1
47.648680     1
47.479490     1
47.733450     1
Name: lat, Length: 24325, dtype: int64

-117.608704    38
-122.360550    27
-122.342510    24
-95.851830     21
-95.965985     20
               ..
-121.887030     1
-122.398015     1
-121.957130     1
-122.323795     1
-122.031535     1
Name: long, Length: 24047, dtype: int64

A couple observations that were found were that there were some homes with 0 bedrooms and also 0 or 0.5 bathrooms. When looking at homes we would expect a home to have at least 1 bedroom and 1 full bathroom. To further prepare the data I will gather data from rows where homes have at least 1 bedroom and 1 full bathroom.

In [9]:
# Dropping rows with bathrooms and bedrooms less than 1
kc_house_df = kc_house_df[kc_house_df["bedrooms"] >= 1]
kc_house_df = kc_house_df[kc_house_df["bathrooms"] >= 1]
print(kc_house_df["bedrooms"].value_counts(), kc_house_df["bathrooms"].value_counts())

print(kc_house_df.info())

3     12743
4      9588
2      3924
5      2794
6       498
1       378
7        80
8        38
9        14
10        3
13        1
11        1
Name: bedrooms, dtype: int64 2.5     8471
2.0     7342
1.0     4541
3.0     4116
3.5     2264
1.5     1806
4.0      643
4.5      531
5.0      145
5.5      102
6.0       45
6.5       25
7.0       12
7.5       12
9.5        2
8.0        2
8.5        1
10.0       1
10.5       1
Name: bathrooms, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30062 entries, 0 to 30154
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           30062 non-null  object
 1   price          30062 non-null  float64
 2   bedrooms       30062 non-null  int64
 3   bathrooms      30062 non-null  float64
 4   sqft_living    30062 non-null  int64
 5   sqft_lot       30062 non-null  int64
 6   floors         30062 non-null  float64
 7   waterfront     30062 non-null  object
 8   greenbelt      30062 non-null  object
 9   nuisance       30062 non-null  object
 10  view           30062 non-null  object
 11  condition      30062 non-null  object
 12  grade          30062 non-null  object
 13  heat_source    30062 non-null  object
 14  sewer_system   30062 non-null  object
 15  sqft_above     30062 non-null  int64
 16  sqft_basement  30062 non-null  int64
 17  sqft_garage    30062 non-null  int64
 18  sqft_patio     30062 non-null  int64
 19  yr_built       30062 non-null  int64
 20  yr_renovated   30062 non-null  int64
 21  address        30062 non-null  object
 22  lat            30062 non-null  float64
 23  long           30062 non-null  float64
dtypes: float64(5), int64(9), object(10)
memory usage: 5.7+ MB
None

## Data Analysis

In [10]:
# Finding which factors correlate most with price
kc_house_df.corr()["price"]

price            1.000000
bedrooms         0.293157
bathrooms        0.483939
sqft_living      0.612011
sqft_lot         0.085546
floors           0.182296
sqft_above       0.541596
sqft_basement    0.245927
sqft_garage      0.265115
sqft_patio       0.315132
yr_built         0.096709
yr_renovated     0.085677
lat              0.063650
long            -0.022337
Name: price, dtype: float64

Looking at the correlations of the current numeric variables we see that the top 3 highest correlates are:
- Sqft_living: highest correlation at 0.61
- Sqft_above: 2nd highest correlation at 0.54
- Bathrooms (# of bathrooms): 3rd highest correlation of 0.48

Other noteable characteristics correlations include:
- Bedrooms (# of bedrooms): correlation of 0.29
- Floors (number of floors/levels): correlation of 0.18
- Yr_built: correlation of 0.096

Square footage having the highest correlation does seem appropropriate. Surprisingly number of bedrooms was not among the highest charactristics regarding correlation, however it does show a positive but weak correlation.

In [11]:
# Creating a subset to further explore sqft_living, floors, bathrooms, bedrooms with slaes price
kc_subset = kc_house_df[['sqft_living', 'floors', 'bathrooms','bedrooms', 'price']].copy()
kc_subset

       sqft_living  floors  bathrooms  bedrooms      price
0             1180     1.0        1.0         4   675000.0
1             2770     1.0        2.5         5   920000.0
2             2880     1.0        2.0         6   311000.0
3             2160     2.0        3.0         3   775000.0
4             1120     2.0        2.0         2   592500.0
...            ...     ...        ...       ...        ...
30150         1910     1.5        2.0         5  1555000.0
30151         2020     2.0        2.0         3  1313000.0
30152         1620     1.0        2.0         3   800000.0
30153         2570     2.0        2.5         3   775000.0
30154         1200     1.0        1.5         3   500000.0

[30062 rows x 5 columns]

## Modeling

## Regression Results

## Conclusion/ Recommendations

## Limitations